nav {
    @include flex-space-between;
    background-color: $light-grey;

    .nav__items {
        @include flex-space-between;
        gap: 18px;

        li {
            @include flex-center;
            gap: 3px;
            font-size: $fs-14;
            cursor: pointer;
            transition: $tr;

            &:hover {
                color: #5b5b5b;
            }

            a {
                font-size: $fs-14;
            }
        }

        #academy {
            position: relative;
            display: inline-block;
            margin-right: 1.8rem;

            &::after {
                content: "New";
                position: absolute;
                top: 0;
                right: -30px;
                background-color: #000;
                color: #fff;
                font-size: 9.5px;
                font-weight: 600;
                padding: 2px 3px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                background-image: linear-gradient(135deg,
                        transparent 30%,
                        rgba(255, 255, 255, 0.4) 50%,
                        transparent 70%);
                background-size: 400% 400%; // Increased size to accommodate the wider beam
                background-repeat: no-repeat;
                background-position: 0% 0%;
                animation: shine-diagonal 5s infinite linear;
            }
        }

        @keyframes shine-diagonal {

            0%,
            90% {
                background-position: 0% 0%;
            }

            100% {
                background-position: 100% 100%;
            }
        }
    }

    img {
        width: $svg_size;
    }

    .input-container {
        position: relative;
        @include flex-center;
        width: 500px;

        .field-icon {
            position: absolute;
            left: 14px;
            width: 15px;
            height: 20px;
            object-fit: contain;
            pointer-events: none;
            opacity: 0.6;
            transition: opacity 0.3s ease;
        }

        input {
            width: 100%;
            padding: 12px 100px 12px 38px;
            background-color: #e1e1e1;
            border: none;
            border-radius: 8px;
            font-size: 13px;
            transition: all 0.3s ease;
            height: 43px;

            &::placeholder {
                color: #333333;
            }
        }
    }

    .regester {
        @include flex-center;
        gap: 18px;

        p {
            font-size: $fs-14;
            font-weight: $fw-600;
            cursor: pointer;
        }
    }

    .nav__btns {
        @include flex-center;
        gap: 20px;

        button {
            padding: 12px 17px;
            font-size: $fs-14;
            border-radius: 8px;
        }

        .pro {
            background-color: $black-color;
            color: $white-color;
            border: 1px solid $black-color;
        }

        .submit {
            background-color: $light-grey;
            border: 1px solid $black-color;
        }
    }
}

main {

    .hero {
        background-color: $light-grey;
        padding: 4rem 0;

        .hero__btns {
            @include flex-center;
            gap: 20px;

            button {
                background-color: $light-grey;
                color: rgb(62, 62, 62);
                font-size: $fs-14;
            }

            .middle {
                color: $black-color;
                border: 1px solid rgb(173, 173, 173);
                padding: 3px 7px;
                border-radius: 5px;
            }
        }

        .hero__title {
            font-size: 8pc;
            font-weight: $fw-600;
            text-align: center;
            margin-top: 1rem;
        }

        .hero__desctiption {
            @include flex-center;
            gap: 10px;

            img {
                width: 30px;
                border-radius: 50%;
            }

            a {
                font-size: $fs-20;
            }

            span {
                font-size: 9px;
                margin-left: -2px;
                margin-bottom: 12px;
            }
        }

        .happy {
            width: 100%;
            padding: 1rem;
            border-radius: 25px;
            margin-top: 3rem;
        }
    }

    .nominies {
        margin: 4rem auto;

        .latest {
            font-size: $fs-14;
            text-align: center;
        }

        .nominiees {
            text-align: center;

            p {
                font-size: 8pc;
                font-weight: $fw-600;
                position: absolute;
                text-align: center;
                left: 25pc;
            }
        }

        .vote {
            margin-top: 2rem;
            margin-bottom: 5rem;
            text-align: center;
            font-size: $fs-22
        }

        .nominiess_cards {

            .nominiess_card {
                position: relative;
                
                .main_img {
                    width: 470px;
                    border-radius: 15px;
                }

                .vote_now {
                    @include flex-center;
                    position: absolute;
                    top: 10pc;
                    left: 11pc;
                    gap: 10px;
                    font-size: $fs-14;
                    font-weight: 400;
                    background-color: $white-color;
                    padding: 13px 16px;
                    border-radius: 8px;
                }
            }
        }
    }
}

.hero__desctiption {
    @include flex-center;
    gap: 10px;

    img {
        width: 30px;
        border-radius: 50%;
    }

    a {
        font-size: $fs-20;
    }

    span {
        font-size: 9px;
        margin-left: -2px;
        margin-bottom: 12px;
    }
}