$font-main: 'Inter Tight', sans-serif;
$svg_size: 15px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;

$black-color: #000;
$white-color: #fff;
$light-grey: #E9E9E9;
$font-size: 12px;
$shine-duration: 20s;
$tr: all 0.3s ease;
$fw-600: 600;